header{
    width:100%;
    height: 70px;
    margin: 0px;

}

.header{ 
    background-color: black;
    color:gray;
    width:70%;
    display:flex;
    gap:15px;
    justify-content: space-between;
    margin: auto;
    align-items: center;

}

nav{
    align-items: center;
    font-size: 18px;
}
body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}


.u{
    display:flex;
    gap: 15px;
    list-style:none;
    padding:0px;
    align-items: center;
}

a{
     text-decoration: none;
    color:gray;
}
.header2{
    color:gray;
    display:flex;
    gap:20px;
    align-items: center;

}
.iconpay{
    padding: 10px;
    background-color: orange;
    border-radius: 15px;
    
}
.xemthem{
    background-color:black;
    border:1px;
    color:gray;
}
main{
    width:70%;
    background-color: black;
    margin:auto;
    margin-top:30px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;

}

.qc1 img{
    width:100%;
    border-radius: 15px;
    margin-bottom: 15px;

}
.banner img{
    width:100%;
    border-radius:15px;
    margin-bottom: 15px;
}
.qc2 img{
    width:100%;
    border-radius:15px;
    margin-bottom: 15px;
}
.cayphimhaymoingay img{
    width:187px;
    height:270px;
    padding-bottom: 15px;
    border-radius: 10px;

}
.phim{
    display:flex;
    gap:15px;
    overflow-y:hidden;
    overflow-x: scroll;
    
}
.cayphimhaymoingay1 img{
    width:187px;
    height:270px;
    padding-bottom: 15px;
    border-radius: 10px;
}
.cayphimhaymoingay1{
    margin-bottom: 20px;
}
.main-footer{

height:600px;
 overflow-x:hidden;
 overflow-y: scroll;
}

footer{
    width:70%;
    margin:auto;
}
.footer1{
    display:flex;
    gap:50px;
    margin-top: 50px;
}
.footer1-1{
    display: flex;
    gap:20px;
    align-items: center;
}
li{
      list-style: none;
}
.footer1-1 div i{
margin-bottom: 10px;
}
.footer1-1 li{
    margin-bottom: 10px;
}
.banner{
    position: relative;
}
.dsthongtin{
    position: absolute;
    bottom: 6px;
    background-color: rgb(154, 128, 95,0.5);
}
.tt ul{
    justify-content: center;
    display:flex;
    gap: 10px;
    border-radius: 5px;
    background-color: blanchedalmond;
    color:black;
    padding-right: 15px;
    padding-left: 15px;
}
.trailer{
    border-radius: 5px;
    width: 50px;
    padding: 2px;
    background-color: orange;

}
.xemtruoc{
    position: absolute;
    bottom: 6px;
    right: 6px; 
}
