body{
    margin:0px;
    padding: 200px
}
.danhmuc{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav{
    background-color: #0c4ca3;
    padding: 15px
}
.td{
    border-right: 1px solid gray;
    padding: 15px 
}

.danhmuclienket{
    color:white;
    text-decoration-line: none;
}
.banner-qc{
    display:flex;
    justify-content:center;
    margin:10px 0px;
}
.anh-qc{
    display:flex;
    justify-content: center;
}
header{
    border-bottom: 15px solid gray;
}

.mucgachchan{
    border-bottom: 1px solid gray;
    display:flex;
    justify-content: space-between;
}
.mucgachchan div{
    border-bottom: 5px solid blue;
    font-size: 30px;
    color:blue;
    padding: 15px 
}
span{
    color:gray;
    float:right;}

.anhtintuc1{
    display:flex;
    justify-content: center;

}
.anhtintuc2{
    display:flex;
    justify-content: center;

}
.nd{
    padding-left: 10px;
}
.cacnganh1{
    display:flex;
    justify-content: center;
}
.cacnganh2{
    display:flex;
    justify-content: center;
}
