body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    background-color: rgb(89, 89, 211);
    color: white;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration-line: none;
    color: white;
}
ul{
    list-style: none;
    padding: 0px;
}
.menu{
    display: flex;
    gap: 15px;
    align-items: center;
}
li{
    padding: 0px;
    
}
.menu li ul{
    position:absolute;
    background-color: rgba(51, 45, 45, 0.8);
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
    top: 33px;
    display:none;
}
.menu li:hover ul{
    display: block;
}
.sub-menu li{
    border-bottom: 1px solid rgb(181, 172, 172); 
    padding: 5px;
}
.trai{
    width: 10%;
    margin: auto;

}
.giua{
    width: 80%;
    margin:auto;

}
.phai{
    width: 10%;
    margin: auto;


}
.tong{
    display:flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.banner1 img{
    width: 100%;
    margin-top: 20px;
}
.phan12{
    width: 100%;
}
.gui{
    background-color: blue;
    color: white;
    height: 30px;
}
.nhap1{
    height: 30px;
}

.goiy div{
    margin-top: 20px;
    gap: 10px;
    border: 1px solid gray;
    border: 2px;
    width: 200px;
    height: 30px;
    border: 1px solid gray

}
.gy{
    background-color: blue;
    color: white;
    border-radius: 3px;
    padding-top: 5px;
    padding-left: 5px;
}
.s1{
    background-color: azure;
    color: black;
    border-radius: 3px;
    align-items: center;
    padding-left: 5px;


}
.than2{
    
    display:flex;
    margin: 20px 20px;
    gap: 20px;
    
}
.dangnhap{
    padding-top: 30px;
    height:30px;
}
.dnhap{
    margin-top: 20px;
    height: 30px;
}
.submit input{
    margin-top: 20px;
    background-color: blue;
    color:aliceblue;
    height: 30px;
}
